<div>

  <form class="form" [formGroup]="userForm">
    <input type="text" placeholder="First name" class="text-input" formControlName="firstName">
    <input type="text" placeholder="Last name" class="text-input"  formControlName="lastName">
    <input type="text" placeholder="Participation" class="text-input" formControlName="participation">
    <button [disabled]="userForm.invalid" [class.--disabled]="userForm.invalid" (click)="submit()" class="btn">send</button>
  </form>

  <div class="header">
    <div class="title">Data</div>
    <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
  </div>

  <div class="content">
    <div class="list">

      <table>
        <thead>
          <th> </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Participation</th>
        </thead>

        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>{{ i }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.participation }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="graph">
      brota
    </div>
  </div>
  
</div>
