*{
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    border: 0;
    margin: 0;
    padding: 30px;

    justify-content: center;
    display: flex;

    background: #00b8e2; 

    > * {
        margin: 0px 15px;
    }

    .text-input {
        padding: 13px 19px;
        background: white;

        &:focus {
            outline: none;
        }
    }

    
    .btn {
        padding: 3px 50px 3px 30px;
        border: 2px solid white;
        border-radius: 3px;

        background: #00b8e2; 
        color: white;

        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12pt;
        transition: transform 0.3s, border 0.3s;
        
        &:hover{
            transform: scale(1.05);
            transition: 0.3s;
        }

        &:active {
            transform: scale(1);
            transition: 0.2s;
        }
    }

    >*.--invalid {
        border: 2px solid red;
        transition: all 1s;

        &:hover{
            transform: none !important;
            transition: 0s !important;
        }
    }

    >*.--disabled {

        &:hover {
            border: 3px solid red;
            transition: all 0.3s !important;
            transform: none !important;
        }
    }

    
}

.header {
    display: flex;
    flex-direction: column;
    padding: 40px;
    > div {
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
    .title {
        font-size: 25px;
        font-weight: bolder;
        color: #394b50;
        text-transform: uppercase;
    }

}

.content {
    display: flex;
    justify-content: center;

    .list,.graph {
        width: 100%;
        margin-top: 40px;
    }

    .list {
        display: flex;
        justify-content: center;

        table {
            border-collapse: separate;
            border-spacing: 0;
            min-width: 70%;

            th {
                text-align: left;
            }

            td:first-child {
                text-align: center;
            }

            th,td {
                padding: 8px;
                font-weight: normal;
                border: 1px solid #b7b7b7;
                color: #b7b7b7;
            }

        }
    }
}