<div>

  <form class="form" [formGroup]="userForm">
    <input [class.--invalid]="userForm.get('firstName').invalid" type="text" placeholder="First name" class="text-input" formControlName="firstName">
    <input [class.--invalid]="userForm.get('lastName').invalid" type="text" placeholder="Last name" class="text-input"  formControlName="lastName">
    <input [class.--invalid]="userForm.get('participation').invalid" type="text" placeholder="Participation" class="text-input" formControlName="participation">
    <button [class.--disabled]="userForm.invalid" class="btn">send</button>
  </form>

  <div class="header">
    <div class="title">Data</div>
    <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
  </div>

  <div class="content">
    <div class="list">
      salve
      <div *ngFor="let user of users">
        {{ user.firstName }}
      </div>
    </div>

    <div class="graph">
      brota
    </div>
  </div>
  
</div>
